In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import random
import statistics
from math import pi
from matplotlib.gridspec import GridSpec
from dateutil.relativedelta import *
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
import seaborn as sns
import scipy.stats
import pingouin as pg
import scipy.stats as stats
from statsmodels.formula.api import ols
import statsmodels.api as sm
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [100]:
# COMMON VARIABLES

alg_to_analyze = [
    'vader_sentiment_analysis_score',
    'vader_sentiment_analysis_polarity'
]

tpd_columns = ["text", "created_at", "id_user", "vader_sentiment_analysis_score", "vader_sentiment_analysis_polarity",
                         "oplexicon_sentiment_analysis_score", "oplexicon_sentiment_analysis_polarity",
                         "sentistrength_sentiment_analysis_score", "sentistrength_sentiment_analysis_polarity",
                         "sentilexpt_sentiment_analysis_score", "sentilexpt_sentiment_analysis_polarity",
                         "final_score", "final_polarity"]

In [101]:
!python3 '/Users/leosilva/development/thesis/workspacePyCharm/TwitterDataMining/main_generate_json_files.py'

Starting script...
Removing existing file...
Ending script...

In [102]:
data = pd.read_json(r'/Users/leosilva/development/thesis/workspacePyCharm/TwitterDataMining/alldata.json')
data.head()

,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43
id_str_twitter,23781146,15148309,927028057763995648,77648005,3429765093,10794662,1034514325644431361,529445600,12050562,62314491,18289937,172880784,18609547,2164986296,1026783544457273345,109604376,1040939562774790144,69734383
name,Fe Rebelatto,Sommelier de Airbnb,‚ú™ Felippe,Conference Distinguished Specialist,Paula Santana,Maharaja of the Legacies,Jessica,"var nickname = ""Riquettinha"";",Roberta Arcoverde,Gabriela,Thamara Andrade,felipe.ts ‚ö°,Juan Lopes,Rafael Dantas,iagor com i,TÃ∑oÃ∑mÃ∑oÃ∑yÃ∑oÃ∑ Ã∑ FÃ∑uÃ∑rÃ∑aÃ∑cÃ∑√£Ã∑oÃ∑,Esdras Xavier,belle-üè¥.dev || twitch.tv/bellesamways
screen_name,rebelatto,Guilh_rm_,FelippeRegazio,NannoKa,psanrosa13,rponte,dev_jessi,Riquettinha,rla4,Gabrielathalita,thamyk,felipefialho_,juanplopes,RaffaelDantass,Iagor51,RafaelMansilha,esdras_xavieer,bellesamways
location,"Rio de Janeiro, Brasil",somewhere in Brazil,,Ctba-PR Brasil,Brasil,"Cear√°, Brazil",S√£o Paulo - Brasil,"Belo Horizonte, Brasil","Sao Paulo, Brazil",Belo Horizonte,"Belo Horizonte, Brazil.",Dark Side of the Moon,"Rio de Janeiro, Brasil","S√£o Paulo, Brasil",Pvh,"Palmas, Tocantins, Brasil","Jaragu√° do Sul, Brasil",Curitiba
url,None,https://t.co/gX4oRZWHg3,https://t.co/KkaPlVH4Wu,https://t.co/hDni4Fh2Ng,https://t.co/YJQuDtv2YW,https://t.co/3yZ94QNQvs,https://t.co/MtUeSEBICu,https://t.co/QU71LJgSuD,None,https://t.co/AmkOKWlftK,https://t.co/JWBzdmQOcV,https://t.co/yPuEuh1bn9,https://t.co/Uhw9rEUK2v,None,None,https://t.co/9cS34v6hKc,https://t.co/H7Mzn0CEHR,https://t.co/bf6AeBboQk

In [103]:
def clean_df(df):
    for c in clean_df_columns:
        del df[c]

In [104]:
def create_tweets_pd(data, id_user):

    tweets_pd = pd.DataFrame(data[id_user]['tweets'])
    del tweets_pd[0]
    del tweets_pd[1]
    del tweets_pd[4]
    del tweets_pd[5]
    del tweets_pd[6]
    del tweets_pd[18]
    del tweets_pd[19]
    del tweets_pd[20]
    
    tweets_pd.columns = ["text", "created_at", "id_user", "vader_sentiment_analysis_score", "vader_sentiment_analysis_polarity",
                         "oplexicon_sentiment_analysis_score", "oplexicon_sentiment_analysis_polarity",
                         "sentistrength_sentiment_analysis_score", "sentistrength_sentiment_analysis_polarity",
                         "sentilexpt_sentiment_analysis_score", "sentilexpt_sentiment_analysis_polarity",
                         "final_score", "final_polarity"]
 
    return tweets_pd

In [105]:
# VADER X OPLEXICON

clean_df_columns = [
#     'text',
    'created_at',
    'id_user',
    'final_score',
    'final_polarity',
#     'oplexicon_sentiment_analysis_score',
#     'oplexicon_sentiment_analysis_polarity',
    'sentistrength_sentiment_analysis_score',
    'sentistrength_sentiment_analysis_polarity',
    'sentilexpt_sentiment_analysis_score',
    'sentilexpt_sentiment_analysis_polarity'
]

tweets = [data[d]['tweets'] for d in data]

final_tweets = []
for i in tweets:
    final_tweets.extend(i)
    
df = pd.DataFrame(final_tweets)

del df[0]
del df[1]
del df[4]
del df[5]
del df[6]
del df[18]
del df[19]
del df[20]

df.columns = ["text", "created_at", "id_user", "vader_sentiment_analysis_score", "vader_sentiment_analysis_polarity",
                         "oplexicon_sentiment_analysis_score", "oplexicon_sentiment_analysis_polarity",
                         "sentistrength_sentiment_analysis_score", "sentistrength_sentiment_analysis_polarity",
                         "sentilexpt_sentiment_analysis_score", "sentilexpt_sentiment_analysis_polarity",
                         "final_score", "final_polarity"]

clean_df(df)

df['vader_prediction'] = df['vader_sentiment_analysis_polarity'].apply(lambda x: -1 if x == 'neg' else (1 if x == 'pos' else 0))
df['oplexicon_prediction'] = df['oplexicon_sentiment_analysis_polarity'].apply(lambda x: -1 if x == 'neg' else (1 if x == 'pos' else 0))

df['accuracy'] = df.apply(lambda x: 1 if x['vader_prediction'] == x['oplexicon_prediction'] else 0, axis=1)

df.head()

,text,vader_sentiment_analysis_score,vader_sentiment_analysis_polarity,oplexicon_sentiment_analysis_score,oplexicon_sentiment_analysis_polarity,vader_prediction,oplexicon_prediction,accuracy
0,"Aten√ß√£o, estou mudando os moveis da sala de lu...",-0.4588,neg,0.000000,neu,-1,0,0
1,RT @andreariell: o cancelamento dos participan...,0.0000,neu,0.000000,neu,0,0,1
2,RT @AndrewBrobston: NOVA ANTECIPA√á√ÉO\nBoa tard...,0.7734,pos,0.458831,pos,1,1,1
3,"@DouglasMarendaz Eu amo muito meu pai, mas fal...",-0.8720,neg,0.458831,pos,-1,1,0
4,@lilicebk Eu cresci numa casa cheia de gente e...,-0.6808,neg,0.000000,neu,-1,0,0

In [106]:
def conf_matrix(x, col1, col2):
    if x[col1] == 1 and x[col2] == 1:
        return 'TP'
    elif x[col1] == 1 and x[col2] == -1:
        return 'FN'
    elif x[col1] == -1 and x[col2] == 1:
        return 'FP'
    elif x[col1] == -1 and x[col2] == -1:
        return 'TN'
    else:
        return 0

In [107]:
df['conf_matrix'] = df.apply(lambda x: conf_matrix(x, 'vader_prediction', 'oplexicon_prediction'), axis=1)

list_precision = []

conf_vals = df['conf_matrix'].value_counts().to_dict()
print(conf_vals)

accuracy = (conf_vals['TP'] + conf_vals['TN']) / (conf_vals['TP'] + conf_vals['TN'] + conf_vals['FP'] + conf_vals['FN'])
precision_positive = conf_vals['TP'] / (conf_vals['TP'] + conf_vals['FP'])
precision_negative = conf_vals['TN'] / (conf_vals['TN'] + conf_vals['FN'])

list_precision.append(precision_positive)
list_precision.append(precision_negative)

print(sum(list_precision) / len(list_precision))

# -------------------------------------------------------------
# verificar se devo incluir os TN tamb√©m na conta do precision
# verificar se devo incluir os NEUTROS tamb√©m nas contas
# -------------------------------------------------------------

recall = conf_vals['TP'] / (conf_vals['TP'] + conf_vals['FN'])
f1_score = 2*precision*recall / (precision + recall)
print('VADER X OPLEXICON')
print('Accuracy: ', round(100 * accuracy, 2),'%',
      '\nPrecision: ', round(100 * precision, 2),'%',
      '\nRecall: ', round(100 * recall, 2),'%',
      '\nF1 Score: ', round(100 * f1_score, 2),'%')

print('% neutral: ', round(100 * (conf_vals[0] / len(df)), 2))

{0: 34756, 'TP': 15147, 'FP': 9262, 'TN': 7017, 'FN': 3626}
0.6399281918473603
VADER X OPLEXICON
Accuracy:  63.23 %
Precision:  70.59 %
Recall:  80.69 %
F1 Score:  75.3 %
% neutral:  49.79

In [108]:
rdf = pd.DataFrame(columns=['Sentiment Lexicon', 'Accuracy', 'Precision', 'Recall', 'F1-Score'])
d = {
    'Sentiment Lexicon': 'OpLexicon',
    'Accuracy': accuracy,
    'Precision': precision,
    'Recall': recall,
    'F1-Score': f1_score
}
rdf = rdf.append(d, ignore_index=True)
rdf

  Sentiment Lexicon  Accuracy  Precision   Recall  F1-Score
0         OpLexicon  0.632318   0.705886  0.80685  0.752999

In [109]:
clean_df_columns = [
#     'text',
    'created_at',
    'id_user',
    'final_score',
    'final_polarity',
    'oplexicon_sentiment_analysis_score',
    'oplexicon_sentiment_analysis_polarity',
#     'sentistrength_sentiment_analysis_score',
#     'sentistrength_sentiment_analysis_polarity',
    'sentilexpt_sentiment_analysis_score',
    'sentilexpt_sentiment_analysis_polarity'
]

# VADER X SENTISTRENGTH

tweets = [data[d]['tweets'] for d in data]

final_tweets = []
for i in tweets:
    final_tweets.extend(i)
    
df = pd.DataFrame(final_tweets)

del df[0]
del df[1]
del df[4]
del df[5]
del df[6]
del df[18]
del df[19]
del df[20]

df.columns = ["text", "created_at", "id_user", "vader_sentiment_analysis_score", "vader_sentiment_analysis_polarity",
                         "oplexicon_sentiment_analysis_score", "oplexicon_sentiment_analysis_polarity",
                         "sentistrength_sentiment_analysis_score", "sentistrength_sentiment_analysis_polarity",
                         "sentilexpt_sentiment_analysis_score", "sentilexpt_sentiment_analysis_polarity",
                         "final_score", "final_polarity"]

clean_df(df)

df['vader_prediction'] = df['vader_sentiment_analysis_polarity'].apply(lambda x: -1 if x == 'neg' else (1 if x == 'pos' else 0))
df['sentistrength_prediction'] = df['sentistrength_sentiment_analysis_polarity'].apply(lambda x: -1 if x == 'neg' else (1 if x == 'pos' else 0))

df['accuracy'] = df.apply(lambda x: 1 if x['vader_prediction'] == x['sentistrength_prediction'] else 0, axis=1)

df.head()

,text,vader_sentiment_analysis_score,vader_sentiment_analysis_polarity,sentistrength_sentiment_analysis_score,sentistrength_sentiment_analysis_polarity,vader_prediction,sentistrength_prediction,accuracy
0,"Aten√ß√£o, estou mudando os moveis da sala de lu...",-0.4588,neg,0.00,neu,-1,0,0
1,RT @andreariell: o cancelamento dos participan...,0.0000,neu,0.00,neu,0,0,1
2,RT @AndrewBrobston: NOVA ANTECIPA√á√ÉO\nBoa tard...,0.7734,pos,0.00,neu,1,0,0
3,"@DouglasMarendaz Eu amo muito meu pai, mas fal...",-0.8720,neg,0.25,pos,-1,1,0
4,@lilicebk Eu cresci numa casa cheia de gente e...,-0.6808,neg,0.00,neu,-1,0,0

In [110]:
df['conf_matrix'] = df.apply(lambda x: conf_matrix(x, 'vader_prediction', 'sentistrength_prediction'), axis=1)

conf_vals = df['conf_matrix'].value_counts().to_dict()
print(conf_vals)

accuracy = (conf_vals['TP'] + conf_vals['TN']) / (conf_vals['TP'] + conf_vals['TN'] + conf_vals['FP'] + conf_vals['FN'])
precision = conf_vals['TP'] / (conf_vals['TP'] + conf_vals['FP'])
recall = conf_vals['TP'] / (conf_vals['TP'] + conf_vals['FN'])
f1_score = 2*precision*recall / (precision + recall)
print('VADER X SENTISTRENGTH')
print('Accuracy: ', round(100 * accuracy, 2),'%',
      '\nPrecision: ', round(100 * precision, 2),'%',
      '\nRecall: ', round(100 * recall, 2),'%',
      '\nF1 Score: ', round(100 * f1_score, 2),'%')

{0: 38361, 'TP': 13813, 'TN': 10343, 'FP': 4430, 'FN': 2861}
VADER X SENTISTRENGTH
Accuracy:  76.81 %
Precision:  75.72 %
Recall:  82.84 %
F1 Score:  79.12 %

In [111]:
d = {
    'Sentiment Lexicon': 'SentiStrength',
    'Accuracy': accuracy,
    'Precision': precision,
    'Recall': recall,
    'F1-Score': f1_score
}
rdf = rdf.append(d, ignore_index=True)
rdf

  Sentiment Lexicon  Accuracy  Precision    Recall  F1-Score
0         OpLexicon  0.632318   0.705886  0.806850  0.752999
1     SentiStrength  0.768150   0.757167  0.828415  0.791191

In [112]:
clean_df_columns = [
#     'text',
    'created_at',
    'id_user',
    'final_score',
    'final_polarity',
    'oplexicon_sentiment_analysis_score',
    'oplexicon_sentiment_analysis_polarity',
    'sentistrength_sentiment_analysis_score',
    'sentistrength_sentiment_analysis_polarity',
#     'sentilexpt_sentiment_analysis_score',
#     'sentilexpt_sentiment_analysis_polarity'
]

# VADER X SENTILEXPT

tweets = [data[d]['tweets'] for d in data]

final_tweets = []
for i in tweets:
    final_tweets.extend(i)
    
df = pd.DataFrame(final_tweets)

del df[0]
del df[1]
del df[4]
del df[5]
del df[6]
del df[18]
del df[19]
del df[20]

df.columns = ["text", "created_at", "id_user", "vader_sentiment_analysis_score", "vader_sentiment_analysis_polarity",
                         "oplexicon_sentiment_analysis_score", "oplexicon_sentiment_analysis_polarity",
                         "sentistrength_sentiment_analysis_score", "sentistrength_sentiment_analysis_polarity",
                         "sentilexpt_sentiment_analysis_score", "sentilexpt_sentiment_analysis_polarity",
                         "final_score", "final_polarity"]

clean_df(df)

df['vader_prediction'] = df['vader_sentiment_analysis_polarity'].apply(lambda x: -1 if x == 'neg' else (1 if x == 'pos' else 0))
df['sentilexpt_prediction'] = df['sentilexpt_sentiment_analysis_polarity'].apply(lambda x: -1 if x == 'neg' else (1 if x == 'pos' else 0))

df['accuracy'] = df.apply(lambda x: 1 if x['vader_prediction'] == x['sentilexpt_prediction'] else 0, axis=1)

df.head()

,text,vader_sentiment_analysis_score,vader_sentiment_analysis_polarity,sentilexpt_sentiment_analysis_score,sentilexpt_sentiment_analysis_polarity,vader_prediction,sentilexpt_prediction,accuracy
0,"Aten√ß√£o, estou mudando os moveis da sala de lu...",-0.4588,neg,0.00,neu,-1,0,0
1,RT @andreariell: o cancelamento dos participan...,0.0000,neu,0.00,neu,0,0,1
2,RT @AndrewBrobston: NOVA ANTECIPA√á√ÉO\nBoa tard...,0.7734,pos,0.00,neu,1,0,0
3,"@DouglasMarendaz Eu amo muito meu pai, mas fal...",-0.8720,neg,-0.25,neg,-1,-1,1
4,@lilicebk Eu cresci numa casa cheia de gente e...,-0.6808,neg,-0.25,neg,-1,-1,1

In [113]:
df['conf_matrix'] = df.apply(lambda x: conf_matrix(x, 'vader_prediction', 'sentilexpt_prediction'), axis=1)

conf_vals = df['conf_matrix'].value_counts().to_dict()
print(conf_vals)

accuracy = (conf_vals['TP'] + conf_vals['TN']) / (conf_vals['TP'] + conf_vals['TN'] + conf_vals['FP'] + conf_vals['FN'])
precision = conf_vals['TP'] / (conf_vals['TP'] + conf_vals['FP'])
recall = conf_vals['TP'] / (conf_vals['TP'] + conf_vals['FN'])
f1_score = 2*precision*recall / (precision + recall)
print('VADER X SENTILEXPT')
print('Accuracy: ', round(100 * accuracy, 2),'%',
      '\nPrecision: ', round(100 * precision, 2),'%',
      '\nRecall: ', round(100 * recall, 2),'%',
      '\nF1 Score: ', round(100 * f1_score, 2),'%')

{0: 38089, 'TP': 12377, 'TN': 10127, 'FP': 5157, 'FN': 4058}
VADER X SENTILEXPT
Accuracy:  70.95 %
Precision:  70.59 %
Recall:  75.31 %
F1 Score:  72.87 %

In [114]:
d = {
    'Sentiment Lexicon': 'Sentilex-PT',
    'Accuracy': accuracy,
    'Precision': precision,
    'Recall': recall,
    'F1-Score': f1_score
}
rdf = rdf.append(d, ignore_index=True)
rdf

  Sentiment Lexicon  Accuracy  Precision    Recall  F1-Score
0         OpLexicon  0.632318   0.705886  0.806850  0.752999
1     SentiStrength  0.768150   0.757167  0.828415  0.791191
2       Sentilex-PT  0.709480   0.705886  0.753088  0.728723

In [115]:
def create_data():
    bar_chart_data = []

    count = 1
    for i in data:
        if data[i]['bigfive']:
            tweets = create_tweets_pd(data, i)
#             columns_to_delete = ['id', 'id_str_twitter', "text", 'created_at', 'favorite_count', 'retweet_count', 'lang', "id_user",
#                              "vader_sentiment_analysis_score", "vader_sentiment_analysis_polarity",
#                             "oplexicon_sentiment_analysis_score", "oplexicon_sentiment_analysis_polarity",
#                             "sentistrength_sentiment_analysis_score", "sentistrength_sentiment_analysis_polarity",
#                             "sentilexpt_sentiment_analysis_score", "sentilexpt_sentiment_analysis_polarity",
#                             'text_updated', 'is_retweet', 'retweet_updated']

#             for c in columns_to_delete:
#                 del tweets[c]

            d = ['P{}'.format(count),
                 len(tweets.query("final_polarity == 'pos'")),
                 len(tweets.query("final_polarity == 'neu'")), 
                 len(tweets.query("final_polarity == 'neg'")),
                 (len(tweets.query("final_polarity == 'pos'")) / len(tweets)) * 100,
                 (len(tweets.query("final_polarity == 'neu'")) / len(tweets)) * 100,
                 (len(tweets.query("final_polarity == 'neg'")) / len(tweets)) * 100,
                 data[i]['bigfive'][0][1],
                 data[i]['bigfive'][0][2],
                 data[i]['bigfive'][0][3],
                 data[i]['bigfive'][0][4],
                 data[i]['bigfive'][0][5]
                ]
            bar_chart_data.append(d)
            count += 1

    df = pd.DataFrame(bar_chart_data, columns=[
        "Participant","pos", "neu", "neg", 
        "por_pos","por_neu","por_neg", "O", "C", "E", "A", "N"])
    
    biglist = ['O', 'C', 'E', 'A', 'N']
    for b in biglist:
        res = []
        for r in df[b]:
            if r <= 10:
                res.append(1)
            elif r > 10 and r < 21:
                res.append(2)
            elif r > 20 and r < 31:
                res.append(3)
            elif r > 30 and r < 41:
                res.append(4)
            elif r > 40:
                res.append(5)
        
        df['{}_Coded'.format(b)] = res
    
    return df

In [116]:
df = create_data()

In [117]:
df

,Participant,pos,neu,neg,por_pos,por_neu,por_neg,O,C,E,A,N,O_Coded,C_Coded,E_Coded,A_Coded,N_Coded
0,P1,1991,736,2311,39.519651,14.608972,45.871378,37,43,36,24,26,4,5,4,3,3
1,P2,2009,717,1822,44.173263,15.765172,40.061566,41,43,34,22,23,5,5,4,3,3
2,P3,2774,598,2560,46.763318,10.080917,43.155765,43,46,31,24,15,5,5,4,3,2
3,P4,2016,338,817,63.576159,10.659098,25.764743,17,33,33,22,39,2,4,4,3,4
4,P5,3342,467,2184,55.765059,7.792424,36.442516,22,33,31,20,8,3,4,4,2,1
5,P6,5575,770,3040,59.403303,8.204582,32.392115,39,49,39,28,15,4,5,4,3,2
6,P7,890,159,496,57.605178,10.291262,32.103560,35,35,32,26,16,4,4,4,3,2
7,P8,1170,478,947,45.086705,18.420039,36.493256,29,45,34,35,29,3,5,4,4,3
8,P9,4284,650,1522,66.356877,10.068154,23.574969,40,46,38,22,21,4,5,4,3,3
9,P10,2369,313,2026,50.318607,6.648258,43.033135,32,46,19,18,28,4,5,2,2,3
10,P11,2256,518,1170,57.200811,13.133874,29.665314,31,36,25,33,21,4,4,3,4,3
11,P12,726,706,796,32.585278,31.687612,35.727110,36,45,31,31,19,4,5,4,4,2
12,P13,1875,761,1750,42.749658,17.350661,39.899681,29,41,28,22,28,3,5,3,3,3
13,P14,974,495,1229,36.100815,18.346924,45.552261,29,43,27,23,35,3,5,3,3,4

In [197]:
type(df['C'])

pandas.core.series.Series

In [118]:
print(list(df['A']))

[24, 22, 24, 22, 20, 28, 26, 35, 22, 18, 33, 31, 22, 23]

In [119]:
pg.normality(df)

                W      pval  normal
pos      0.893909  0.092046    True
neu      0.925103  0.260186    True
neg      0.970725  0.886208    True
por_pos  0.965332  0.808860    True
por_neu  0.848046  0.020897   False
por_neg  0.952359  0.597902    True
O        0.947355  0.520445    True
C        0.874583  0.048688   False
E        0.953392  0.614493    True
A        0.907478  0.144836    True
N        0.980381  0.976955    True
O_Coded  0.878323  0.055009    True
C_Coded  0.576051  0.000025   False
E_Coded  0.626852  0.000071   False
A_Coded  0.779144  0.002788   False
N_Coded  0.878324  0.055010    True

In [120]:
pg.homoscedasticity(df)

               W      pval  equal_var
levene  0.463951  0.942406       True

In [121]:
pg.anova(dv='pos', between=['O'], data=df).round(3)

  Source  ddof1  ddof2      F  p-unc    np2
0      O     11      2  9.503  0.099  0.981

In [177]:
pg.anova(dv='pos', between=['E'], data=df).round(3)

  Source  ddof1  ddof2      F  p-unc    np2
0      E     10      3  1.434  0.425  0.827

In [123]:
pg.anova(dv='pos', between=['O', 'A'], data=df).round(3)

/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/pingouin/parametric.py:1069: RuntimeWarning: divide by zero encountered in double_scalars
  fval_fac1 = ms_fac1 / ms_resid
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/pingouin/parametric.py:1070: RuntimeWarning: divide by zero encountered in double_scalars
  fval_fac2 = ms_fac2 / ms_resid
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/pingouin/parametric.py:1071: RuntimeWarning: divide by zero encountered in double_scalars
  fval_inter = ms_inter / ms_resid

     Source            SS   DF           MS    F  np2
0         O  2.347195e+07   11  2133813.323 -inf  1.0
1         A  1.957433e+07    9  2174925.413 -inf  1.0
2     O * A -1.912525e+07   99  -193184.324  inf  1.0
3  Residual  0.000000e+00 -106       -0.000  NaN  NaN

In [124]:
pg.anova(dv='pos', between=['O', 'N'], data=df).round(3)

/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/pingouin/parametric.py:1069: RuntimeWarning: divide by zero encountered in double_scalars
  fval_fac1 = ms_fac1 / ms_resid
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/pingouin/parametric.py:1070: RuntimeWarning: divide by zero encountered in double_scalars
  fval_fac2 = ms_fac2 / ms_resid
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/pingouin/parametric.py:1071: RuntimeWarning: divide by zero encountered in double_scalars
  fval_inter = ms_inter / ms_resid

     Source            SS   DF           MS    F  np2
0         O  2.347195e+07   11  2133813.323 -inf  1.0
1         N  1.781982e+07   10  1781981.671 -inf  1.0
2     O * N -1.737074e+07  110  -157915.782  inf  1.0
3  Residual  0.000000e+00 -118       -0.000  NaN  NaN

In [189]:
stats.f_oneway(df['pos'], df['O'])

F_onewayResult(statistic=39.23114837445394, pvalue=1.2521582756852636e-06)

In [126]:
model = ols('pos ~ O + C + E + A + N', data = df).fit()
aov = sm.stats.anova_lm(model, typ=2)
aov

                sum_sq   df         F    PR(>F)
O         1.830187e+06  1.0  1.288527  0.289182
C         3.371972e+06  1.0  2.374006  0.161938
E         3.194705e+06  1.0  2.249203  0.172071
A         2.804223e+06  1.0  1.974287  0.197615
N         4.970656e+06  1.0  3.499544  0.098300
Residual  1.136298e+07  8.0       NaN       NaN

In [185]:
model = ols('neg ~ O + C + E + A + N', data = df).fit()
aov = sm.stats.anova_lm(model, typ=2)
aov

                sum_sq   df         F    PR(>F)
O         2.144798e+05  1.0  0.555692  0.477329
C         1.426734e+06  1.0  3.696498  0.090747
E         8.201345e+04  1.0  0.212487  0.657098
A         1.464984e+06  1.0  3.795599  0.087230
N         1.292671e+06  1.0  3.349156  0.104626
Residual  3.087753e+06  8.0       NaN       NaN

In [128]:
model = ols('por_pos ~ O + C + E + A + N', data = df).fit()
aov = sm.stats.anova_lm(model, typ=2)
aov

               sum_sq   df         F    PR(>F)
O            9.511502  1.0  0.072632  0.794363
C           44.295074  1.0  0.338248  0.576858
E          126.794055  1.0  0.968231  0.353941
A           43.444518  1.0  0.331753  0.580466
N           34.180853  1.0  0.261013  0.623222
Residual  1047.635134  8.0       NaN       NaN

In [129]:
model = ols('por_neg ~ O + C + E + A + N', data = df).fit()
aov = sm.stats.anova_lm(model, typ=2)
aov

              sum_sq   df         F    PR(>F)
O           3.976233  1.0  0.073306  0.793437
C          27.900691  1.0  0.514380  0.493654
E          95.081296  1.0  1.752930  0.222087
A          24.246242  1.0  0.447006  0.522580
N           0.694367  1.0  0.012801  0.912705
Residual  433.930918  8.0       NaN       NaN

In [130]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['pos'], groups=df['O'], alpha=0.05)
print(m_comp)

     Multiple Comparison of Means - Tukey HSD, FWER=0.05
=============================================================
group1 group2  meandiff  p-adj     lower      upper    reject
-------------------------------------------------------------
    17     22     1326.0  0.722  -5665.1917  8317.1917  False
    17     29  -676.3333    0.9  -6384.6174  5031.9508  False
    17     31      240.0    0.9  -6751.1917  7231.1917  False
    17     32      353.0    0.9  -6638.1917  7344.1917  False
    17     35    -1126.0 0.8096  -8117.1917  5865.1917  False
    17     36    -1290.0 0.7377  -8281.1917  5701.1917  False
    17     37      -25.0    0.9  -7016.1917  6966.1917  False
    17     39     3559.0 0.1768  -3432.1917 10550.1917  False
    17     40     2268.0 0.3721  -4723.1917  9259.1917  False
    17     41       -7.0    0.9  -6998.1917  6984.1917  False
    17     43      758.0    0.9  -6233.1917  7749.1917  False
    22     29 -2002.3333 0.3299  -7710.6174  3705.9508  False
    22     31    -1086.0 0.8271  -8077.1917  5905.1917  False
    22     32     -973.0 0.8767  -7964.1917  6018.1917  False
    22     35    -2452.0 0.3299  -9443.1917  4539.1917  False
    22     36    -2616.0 0.2979  -9607.1917  4375.1917  False
    22     37    -1351.0  0.711  -8342.1917  5640.1917  False
    22     39     2233.0 0.3809  -4758.1917  9224.1917  False
    22     40      942.0 0.8902  -6049.1917  7933.1917  False
    22     41    -1333.0 0.7189  -8324.1917  5658.1917  False
    22     43     -568.0    0.9  -7559.1917  6423.1917  False
    29     31   916.3333 0.8112  -4791.9508  6624.6174  False
    29     32  1029.3333 0.7506  -4678.9508  6737.6174  False
    29     35  -449.6667    0.9  -6157.9508  5258.6174  False
    29     36  -613.6667    0.9  -6321.9508  5094.6174  False
    29     37   651.3333    0.9  -5056.9508  6359.6174  False
    29     39  4235.3333 0.0885  -1472.9508  9943.6174  False
    29     40  2944.3333 0.1727  -2763.9508  8652.6174  False
    29     41   669.3333    0.9  -5038.9508  6377.6174  False
    29     43  1434.3333 0.5333  -4273.9508  7142.6174  False
    31     32      113.0    0.9  -6878.1917  7104.1917  False
    31     35    -1366.0 0.7044  -8357.1917  5625.1917  False
    31     36    -1530.0 0.6326  -8521.1917  5461.1917  False
    31     37     -265.0    0.9  -7256.1917  6726.1917  False
    31     39     3319.0 0.1999  -3672.1917 10310.1917  False
    31     40     2028.0 0.4378  -4963.1917  9019.1917  False
    31     41     -247.0    0.9  -7238.1917  6744.1917  False
    31     43      518.0    0.9  -6473.1917  7509.1917  False
    32     35    -1479.0 0.6549  -8470.1917  5512.1917  False
    32     36    -1643.0 0.5831  -8634.1917  5348.1917  False
    32     37     -378.0    0.9  -7369.1917  6613.1917  False
    32     39     3206.0 0.2122  -3785.1917 10197.1917  False
    32     40     1915.0 0.4729  -5076.1917  8906.1917  False
    32     41     -360.0    0.9  -7351.1917  6631.1917  False
    32     43      405.0    0.9  -6586.1917  7396.1917  False
    35     36     -164.0    0.9  -7155.1917  6827.1917  False
    35     37     1101.0 0.8206  -5890.1917  8092.1917  False
    35     39     4685.0 0.1071  -2306.1917 11676.1917  False
    35     40     3394.0 0.1922  -3597.1917 10385.1917  False
    35     41     1119.0 0.8127  -5872.1917  8110.1917  False
    35     43     1884.0  0.483  -5107.1917  8875.1917  False
    36     37     1265.0 0.7487  -5726.1917  8256.1917  False
    36     39     4849.0 0.1005  -2142.1917 11840.1917  False
    36     40     3558.0 0.1769  -3433.1917 10549.1917  False
    36     41     1283.0 0.7408  -5708.1917  8274.1917  False
    36     43     2048.0 0.4319  -4943.1917  9039.1917  False
    37     39     3584.0 0.1746  -3407.1917 10575.1917  False
    37     40     2293.0  0.366  -4698.1917  9284.1917  False
    37     41       18.0    0.9  -6973.1917  7009.1917  False
    37     43      783.0    0.9  -6208.1917  7774.1917  False
    39     40    -1291.0 0.7373  -8282.1917  5700.1917  False
    39     41    -3566.0 0.1762 -10557.1917  3425.1917  False
    39     43    -2801.0 0.2665  -9792.1917  4190.1917  False
    40     41    -2275.0 0.3704  -9266.1917  4716.1917  False
    40     43    -1510.0 0.6413  -8501.1917  5481.1917  False
    41     43      765.0    0.9  -6226.1917  7756.1917  False
-------------------------------------------------------------

In [178]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['pos'], groups=df['C'], alpha=0.05)
print(m_comp)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================
group1 group2  meandiff p-adj    lower      upper   reject
----------------------------------------------------------
    33     35   -1789.0 0.6097 -5962.6821 2384.6821  False
    33     36    -423.0    0.9 -4596.6821 3750.6821  False
    33     41    -804.0    0.9 -4977.6821 3369.6821  False
    33     43   -1021.0 0.8091 -4131.8789 2089.8789  False
    33     45   -1731.0  0.456 -5138.7971 1676.7971  False
    33     46  463.3333    0.9 -2647.5456 3574.2123  False
    33     49    2896.0 0.1997 -1277.6821 7069.6821  False
    35     36    1366.0  0.898 -3453.3529 6185.3529  False
    35     41     985.0    0.9 -3834.3529 5804.3529  False
    35     43     768.0    0.9 -3166.9852 4702.9852  False
    35     45      58.0    0.9 -4115.6821 4231.6821  False
    35     46 2252.3333 0.3462 -1682.6519 6187.3185  False
    35     49    4685.0 0.0564  -134.3529 9504.3529  False
    36     41    -381.0    0.9 -5200.3529 4438.3529  False
    36     43    -598.0    0.9 -4532.9852 3336.9852  False
    36     45   -1308.0 0.8385 -5481.6821 2865.6821  False
    36     46  886.3333    0.9 -3048.6519 4821.3185  False
    36     49    3319.0 0.2045 -1500.3529 8138.3529  False
    41     43    -217.0    0.9 -4151.9852 3717.9852  False
    41     45    -927.0    0.9 -5100.6821 3246.6821  False
    41     46 1267.3333 0.8213 -2667.6519 5202.3185  False
    41     49    3700.0  0.142 -1119.3529 8519.3529  False
    43     45    -710.0    0.9 -3820.8789 2400.8789  False
    43     46 1484.3333 0.4105 -1298.1214 4266.7881  False
    43     49    3917.0  0.051   -17.9852 7851.9852  False
    45     46 2194.3333 0.1893  -916.5456 5305.2123  False
    45     49    4627.0 0.0316   453.3179 8800.6821   True
    46     49 2432.6667 0.2822 -1502.3185 6367.6519  False
----------------------------------------------------------

In [131]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['pos'], groups=df['E'], alpha=0.05)
print(m_comp)

     Multiple Comparison of Means - Tukey HSD, FWER=0.05
=============================================================
group1 group2  meandiff  p-adj     lower      upper    reject
-------------------------------------------------------------
    19     25     -113.0    0.9 -11524.7604 11298.7604  False
    19     27    -1395.0    0.9 -12806.7604 10016.7604  False
    19     28     -494.0    0.9 -11905.7604 10917.7604  False
    19     31   -88.3333    0.9  -9405.9967    9229.33  False
    19     32    -1479.0    0.9 -12890.7604  9932.7604  False
    19     33     -353.0    0.9 -11764.7604 11058.7604  False
    19     34     -779.5    0.9 -10662.3744  9103.3744  False
    19     36     -378.0    0.9 -11789.7604 11033.7604  False
    19     38     1915.0    0.9  -9496.7604 13326.7604  False
    19     39     3206.0 0.7009  -8205.7604 14617.7604  False
    25     27    -1282.0    0.9 -12693.7604 10129.7604  False
    25     28     -381.0    0.9 -11792.7604 11030.7604  False
    25     31    24.6667    0.9  -9292.9967    9342.33  False
    25     32    -1366.0    0.9 -12777.7604 10045.7604  False
    25     33     -240.0    0.9 -11651.7604 11171.7604  False
    25     34     -666.5    0.9 -10549.3744  9216.3744  False
    25     36     -265.0    0.9 -11676.7604 11146.7604  False
    25     38     2028.0    0.9  -9383.7604 13439.7604  False
    25     39     3319.0 0.6767  -8092.7604 14730.7604  False
    27     28      901.0    0.9 -10510.7604 12312.7604  False
    27     31  1306.6667    0.9  -8010.9967   10624.33  False
    27     32      -84.0    0.9 -11495.7604 11327.7604  False
    27     33     1042.0    0.9 -10369.7604 12453.7604  False
    27     34      615.5    0.9  -9267.3744 10498.3744  False
    27     36     1017.0    0.9 -10394.7604 12428.7604  False
    27     38     3310.0 0.6786  -8101.7604 14721.7604  False
    27     39     4601.0 0.4219  -6810.7604 16012.7604  False
    28     31   405.6667    0.9  -8911.9967    9723.33  False
    28     32     -985.0    0.9 -12396.7604 10426.7604  False
    28     33      141.0    0.9 -11270.7604 11552.7604  False
    28     34     -285.5    0.9 -10168.3744  9597.3744  False
    28     36      116.0    0.9 -11295.7604 11527.7604  False
    28     38     2409.0 0.8718  -9002.7604 13820.7604  False
    28     39     3700.0  0.595  -7711.7604 15111.7604  False
    31     32 -1390.6667    0.9   -10708.33  7926.9967  False
    31     33  -264.6667    0.9    -9582.33  9052.9967  False
    31     34  -691.1667    0.9  -8057.4264   6675.093  False
    31     36  -289.6667    0.9    -9607.33  9027.9967  False
    31     38  2003.3333 0.8623    -7314.33 11320.9967  False
    31     39  3294.3333 0.5232    -6023.33 12611.9967  False
    32     33     1126.0    0.9 -10285.7604 12537.7604  False
    32     34      699.5    0.9  -9183.3744 10582.3744  False
    32     36     1101.0    0.9 -10310.7604 12512.7604  False
    32     38     3394.0 0.6606  -8017.7604 14805.7604  False
    32     39     4685.0 0.4085  -6726.7604 16096.7604  False
    33     34     -426.5    0.9 -10309.3744  9456.3744  False
    33     36      -25.0    0.9 -11436.7604 11386.7604  False
    33     38     2268.0    0.9  -9143.7604 13679.7604  False
    33     39     3559.0 0.6252  -7852.7604 14970.7604  False
    34     36      401.5    0.9  -9481.3744 10284.3744  False
    34     38     2694.5 0.7212  -7188.3744 12577.3744  False
    34     39     3985.5 0.4217  -5897.3744 13868.3744  False
    36     38     2293.0 0.8967  -9118.7604 13704.7604  False
    36     39     3584.0 0.6199  -7827.7604 14995.7604  False
    38     39     1291.0    0.9 -10120.7604 12702.7604  False
-------------------------------------------------------------

In [132]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['neg'], groups=df['N'], alpha=0.05)
print(m_comp)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
=========================================================
group1 group2 meandiff p-adj    lower      upper   reject
---------------------------------------------------------
     8     15    616.0 0.7196 -1637.7716 2869.7716  False
     8     16  -1688.0 0.1538 -4290.4313  914.4313  False
     8     19  -1388.0 0.2415 -3990.4313 1214.4313  False
     8     21   -838.0 0.4823 -3091.7716 1415.7716  False
     8     23   -362.0    0.9 -2964.4313 2240.4313  False
     8     26    127.0    0.9 -2475.4313 2729.4313  False
     8     28   -296.0    0.9 -2549.7716 1957.7716  False
     8     29  -1237.0 0.3079 -3839.4313 1365.4313  False
     8     35   -955.0 0.4921 -3557.4313 1647.4313  False
     8     39  -1367.0 0.2497 -3969.4313 1235.4313  False
    15     16  -2304.0  0.047 -4557.7716  -50.2284   True
    15     19  -2004.0 0.0687 -4257.7716  249.7716  False
    15     21  -1454.0 0.0937 -3294.1968  386.1968  False
    15     23   -978.0 0.3685 -3231.7716 1275.7716  False
    15     26   -489.0 0.8575 -2742.7716 1764.7716  False
    15     28   -912.0 0.2826 -2752.1968  928.1968  False
    15     29  -1853.0 0.0845 -4106.7716  400.7716  False
    15     35  -1571.0 0.1289 -3824.7716  682.7716  False
    15     39  -1983.0 0.0706 -4236.7716  270.7716  False
    16     19    300.0    0.9 -2302.4313 2902.4313  False
    16     21    850.0 0.4717 -1403.7716 3103.7716  False
    16     23   1326.0 0.2666 -1276.4313 3928.4313  False
    16     26   1815.0 0.1287  -787.4313 4417.4313  False
    16     28   1392.0 0.1729  -861.7716 3645.7716  False
    16     29    451.0    0.9 -2151.4313 3053.4313  False
    16     35    733.0 0.6992 -1869.4313 3335.4313  False
    16     39    321.0    0.9 -2281.4313 2923.4313  False
    19     21    550.0 0.7912 -1703.7716 2803.7716  False
    19     23   1026.0 0.4386 -1576.4313 3628.4313  False
    19     26   1515.0 0.1984 -1087.4313 4117.4313  False
    19     28   1092.0 0.2962 -1161.7716 3345.7716  False
    19     29    151.0    0.9 -2451.4313 2753.4313  False
    19     35    433.0    0.9 -2169.4313 3035.4313  False
    19     39     21.0    0.9 -2581.4313 2623.4313  False
    21     23    476.0 0.8716 -1777.7716 2729.7716  False
    21     26    965.0  0.378 -1288.7716 3218.7716  False
    21     28    542.0 0.6677 -1298.1968 2382.1968  False
    21     29   -399.0    0.9 -2652.7716 1854.7716  False
    21     35   -117.0    0.9 -2370.7716 2136.7716  False
    21     39   -529.0  0.814 -2782.7716 1724.7716  False
    23     26    489.0    0.9 -2113.4313 3091.4313  False
    23     28     66.0    0.9 -2187.7716 2319.7716  False
    23     29   -875.0 0.5656 -3477.4313 1727.4313  False
    23     35   -593.0 0.8308 -3195.4313 2009.4313  False
    23     39  -1005.0  0.454 -3607.4313 1597.4313  False
    26     28   -423.0    0.9 -2676.7716 1830.7716  False
    26     29  -1364.0 0.2508 -3966.4313 1238.4313  False
    26     35  -1082.0 0.3992 -3684.4313 1520.4313  False
    26     39  -1494.0 0.2049 -4096.4313 1108.4313  False
    28     29   -941.0 0.3962 -3194.7716 1312.7716  False
    28     35   -659.0 0.6729 -2912.7716 1594.7716  False
    28     39  -1071.0 0.3081 -3324.7716 1182.7716  False
    29     35    282.0    0.9 -2320.4313 2884.4313  False
    29     39   -130.0    0.9 -2732.4313 2472.4313  False
    35     39   -412.0    0.9 -3014.4313 2190.4313  False
---------------------------------------------------------

In [207]:
model = ols(formula='pos ~ O_Coded + C_Coded + E_Coded + A_Coded + N_Coded', data = df).fit()
aov = sm.stats.anova_lm(model, typ=2)
aov

/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=14
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    pos   R-squared:                       0.244
Model:                            OLS   Adj. R-squared:                 -0.229
Method:                 Least Squares   F-statistic:                    0.5159
Date:                Wed, 09 Jun 2021   Prob (F-statistic):              0.758
Time:                        12:17:59   Log-Likelihood:                -118.37
No. Observations:                  14   AIC:                             248.7
Df Residuals:                       8   BIC:                             252.6
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1670.5152   5478.555      0.305      0.768    -1.1e+04    1.43e+04
O_Coded      122.3784    616.756      0.198      0.848   -1299.864    1544.621
C_Coded      398.3750   1021.225      0.390      0.707   -1956.573    2753.323
E_Coded      454.0119    762.693      0.595      0.568   -1304.760    2212.784
A_Coded     -874.9062    751.323     -1.164      0.278   -2607.459     857.647
N_Coded     -245.4285    646.286     -0.380      0.714   -1735.767    1244.910
==============================================================================
Omnibus:                        4.415   Durbin-Watson:                   2.621
Prob(Omnibus):                  0.110   Jarque-Bera (JB):                2.354
Skew:                           0.997   Prob(JB):                        0.308
Kurtosis:                       3.242   Cond. No.                         113.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [134]:
model = ols('neg ~ O_Coded + C_Coded + E_Coded + A_Coded + N_Coded', data = df).fit()
aov = sm.stats.anova_lm(model, typ=2)
aov

                sum_sq   df         F    PR(>F)
O_Coded   1.345767e+05  1.0  0.325984  0.583712
C_Coded   9.772632e+05  1.0  2.367215  0.162468
E_Coded   2.356198e+04  1.0  0.057074  0.817188
A_Coded   1.469353e+06  1.0  3.559198  0.095929
N_Coded   2.417214e+05  1.0  0.585519  0.466129
Residual  3.302660e+06  8.0       NaN       NaN

In [135]:
model = ols('por_pos ~ O_Coded + C_Coded + E_Coded + A_Coded + N_Coded', data = df).fit()
aov = sm.stats.anova_lm(model, typ=2)
aov

              sum_sq   df         F    PR(>F)
O_Coded    17.621889  1.0  0.166045  0.694337
C_Coded   369.511703  1.0  3.481776  0.099021
E_Coded    53.749119  1.0  0.506459  0.496900
A_Coded   113.417491  1.0  1.068692  0.331477
N_Coded    37.994153  1.0  0.358005  0.566167
Residual  849.018776  8.0       NaN       NaN

In [136]:
model = ols('por_neg ~ O_Coded + C_Coded + E_Coded + A_Coded + N_Coded', data = df).fit()
aov = sm.stats.anova_lm(model, typ=2)
aov

              sum_sq   df         F    PR(>F)
O_Coded     1.784965  1.0  0.036524  0.853198
C_Coded   114.886055  1.0  2.350809  0.163759
E_Coded    34.550497  1.0  0.706975  0.424866
A_Coded    19.953848  1.0  0.408297  0.540694
N_Coded     4.634763  1.0  0.094837  0.765981
Residual  390.966954  8.0       NaN       NaN

In [137]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['pos'], groups=df['O_Coded'], alpha=0.05)
print(m_comp)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================
group1 group2  meandiff p-adj    lower      upper   reject
----------------------------------------------------------
     2      3   -175.75    0.9 -5296.8911 4945.3911  False
     2      4  568.4286    0.9 -4328.3189 5465.1761  False
     2      5     375.5    0.9  -5234.429  5985.429  False
     3      4  744.1786 0.8452 -2126.7941 3615.1513  False
     3      5    551.25    0.9 -3415.5689 4518.0689  False
     4      5 -192.9286    0.9 -3865.4892 3479.6321  False
----------------------------------------------------------

In [138]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['pos'], groups=df['C_Coded'], alpha=0.05)
print(m_comp)

  Multiple Comparison of Means - Tukey HSD, FWER=0.05
=======================================================
group1 group2 meandiff p-adj    lower    upper   reject
-------------------------------------------------------
     4      5    248.7 0.7797 -1564.489 2061.889  False
-------------------------------------------------------

In [139]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['pos'], groups=df['E_Coded'], alpha=0.05)
print(m_comp)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================
group1 group2  meandiff p-adj    lower      upper   reject
----------------------------------------------------------
     2      3 -667.3333    0.9 -5127.7954 3793.1287  False
     2      4     108.7    0.9 -3942.7158 4160.1158  False
     3      4  776.0333 0.6884 -1766.8213 3318.8879  False
----------------------------------------------------------

In [140]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['pos'], groups=df['A_Coded'], alpha=0.05)
print(m_comp)

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
===========================================================
group1 group2  meandiff  p-adj    lower      upper   reject
-----------------------------------------------------------
     2      3  -367.9444    0.9 -3246.5627 2510.6738  False
     2      4    -1471.5 0.4886 -4833.0019 1890.0019  False
     3      4 -1103.5556 0.4713 -3558.4494 1351.3383  False
-----------------------------------------------------------

In [141]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['pos'], groups=df['N_Coded'], alpha=0.05)
print(m_comp)

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
===========================================================
group1 group2  meandiff  p-adj    lower      upper   reject
-----------------------------------------------------------
     1      2    -850.75    0.9  -5853.767  4152.267  False
     1      3 -1062.8571    0.9 -5846.6563 3720.9421  False
     1      4    -1847.0 0.7199 -7327.5305 3633.5305  False
     2      3  -212.1071    0.9  -3016.858 2592.6437  False
     2      4    -996.25 0.8486 -4871.5703 2879.0703  False
     3      4  -784.1429    0.9 -4371.9923 2803.7065  False
-----------------------------------------------------------

In [142]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['neg'], groups=df['O_Coded'], alpha=0.05)
print(m_comp)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
=========================================================
group1 group2 meandiff p-adj    lower      upper   reject
---------------------------------------------------------
     2      3    710.5 0.8305 -1937.4664 3358.4664  False
     2      4    806.0   0.75 -1725.9402 3337.9402  False
     2      5   1374.0 0.4998 -1526.7019 4274.7019  False
     3      4     95.5    0.9 -1388.9815 1579.9815  False
     3      5    663.5 0.7417  -1387.606  2714.606  False
     4      5    568.0 0.7809 -1330.9551 2466.9551  False
---------------------------------------------------------

In [143]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['neg'], groups=df['C_Coded'], alpha=0.05)
print(m_comp)

  Multiple Comparison of Means - Tukey HSD, FWER=0.05
========================================================
group1 group2 meandiff p-adj    lower     upper   reject
--------------------------------------------------------
     4      5   633.55 0.1613 -291.2119 1558.3119  False
--------------------------------------------------------

In [144]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['neg'], groups=df['E_Coded'], alpha=0.05)
print(m_comp)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
=========================================================
group1 group2 meandiff p-adj    lower      upper   reject
---------------------------------------------------------
     2      3   -643.0 0.7582 -3126.1029 1840.1029  False
     2      4   -376.5 0.8971 -2631.8902 1878.8902  False
     3      4    266.5 0.8649 -1149.0865 1682.0865  False
---------------------------------------------------------

In [145]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['neg'], groups=df['A_Coded'], alpha=0.05)
print(m_comp)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================
group1 group2  meandiff p-adj    lower      upper   reject
----------------------------------------------------------
     2      3 -377.5556 0.7666 -1867.6709 1112.5598  False
     2      4   -1134.0 0.2278 -2874.0798  606.0798  False
     3      4 -756.4444 0.2836 -2027.2191  514.3302  False
----------------------------------------------------------

In [146]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['neg'], groups=df['N_Coded'], alpha=0.05)
print(m_comp)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================
group1 group2  meandiff p-adj    lower      upper   reject
----------------------------------------------------------
     1      2    -461.0    0.9 -3163.9983 2241.9983  False
     1      3 -534.2857    0.9 -3118.8464  2050.275  False
     1      4   -1161.0 0.6312 -4121.9863 1799.9863  False
     2      3  -73.2857    0.9 -1588.6188 1442.0473  False
     2      4    -700.0 0.7242 -2793.7335 1393.7335  False
     3      4 -626.7143  0.742 -2565.1348 1311.7062  False
----------------------------------------------------------

In [147]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['por_pos'], groups=df['O_Coded'], alpha=0.05)
print(m_comp)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     2      3 -18.6506 0.4114 -53.8407 16.5395  False
     2      4 -11.7205 0.7017 -45.3687 21.9277  False
     2      5 -18.1079 0.5061 -56.6567  20.441  False
     3      4   6.9301 0.6969 -12.7979 26.6581  False
     3      5   0.5427    0.9 -26.7154 27.8009  False
     4      5  -6.3874  0.855 -31.6235 18.8488  False
-----------------------------------------------------

In [148]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['por_pos'], groups=df['C_Coded'], alpha=0.05)
print(m_comp)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     4      5 -12.2311 0.0413 -23.8961 -0.566   True
----------------------------------------------------

In [149]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['por_pos'], groups=df['E_Coded'], alpha=0.05)
print(m_comp)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     2      3  -4.9682    0.9 -39.2937 29.3573  False
     2      4   0.7649    0.9 -30.4128 31.9425  False
     3      4   5.7331 0.7068 -13.8355 25.3016  False
-----------------------------------------------------

In [150]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['por_pos'], groups=df['A_Coded'], alpha=0.05)
print(m_comp)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     2      3  -2.3476    0.9 -25.3899 20.6947  False
     2      4  -8.0842 0.6955 -34.9919 18.8234  False
     3      4  -5.7366 0.7084 -25.3872 13.9139  False
-----------------------------------------------------

In [151]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['por_pos'], groups=df['N_Coded'], alpha=0.05)
print(m_comp)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj  lower    upper  reject
----------------------------------------------------
     1      2  -6.6758   0.9 -46.7315 33.3799  False
     1      3  -6.4214   0.9 -44.7219 31.8791  False
     1      4  -5.9266   0.9 -49.8054 37.9522  False
     2      3   0.2544   0.9 -22.2013 22.7101  False
     2      4   0.7492   0.9 -30.2778 31.7762  False
     3      4   0.4948   0.9 -28.2306 29.2202  False
----------------------------------------------------

In [152]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['por_neg'], groups=df['O_Coded'], alpha=0.05)
print(m_comp)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     2      3  13.8322 0.2808  -8.2409 35.9053  False
     2      4   8.8592 0.5866 -12.2467 29.9651  False
     2      5  15.8439 0.2489  -8.3359 40.0238  False
     3      4   -4.973 0.6154 -17.3474  7.4015  False
     3      5   2.0117    0.9  -15.086 19.1095  False
     4      5   6.9847  0.552  -8.8447 22.8142  False
-----------------------------------------------------

In [153]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['por_neg'], groups=df['C_Coded'], alpha=0.05)
print(m_comp)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
     4      5   7.5821 0.0661 -0.591 15.7552  False
---------------------------------------------------

In [154]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['por_neg'], groups=df['E_Coded'], alpha=0.05)
print(m_comp)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     2      3  -4.6607  0.837 -27.2082 17.8868  False
     2      4  -7.8744 0.5687 -28.3542 12.6054  False
     3      4  -3.2137 0.7717 -16.0678  9.6403  False
-----------------------------------------------------

In [155]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['por_neg'], groups=df['A_Coded'], alpha=0.05)
print(m_comp)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     2      3  -3.2516 0.8358 -18.9206 12.4174  False
     2      4  -5.7759 0.6726 -24.0734 12.5216  False
     3      4  -2.5243 0.8639 -15.8869 10.8383  False
-----------------------------------------------------

In [156]:
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=df['por_neg'], groups=df['N_Coded'], alpha=0.05)
print(m_comp)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj  lower    upper  reject
----------------------------------------------------
     1      2  -0.5979   0.9 -28.0133 26.8175  False
     1      3   0.5002   0.9 -25.7139 26.7144  False
     1      4   -0.784   0.9 -30.8161 29.2481  False
     2      3   1.0981   0.9 -14.2713 16.4675  False
     2      4  -0.1861   0.9  -21.422 21.0498  False
     3      4  -1.2843   0.9 -20.9449 18.3764  False
----------------------------------------------------

In [157]:
pg.ttest(df['pos'], df['O'])

,T,dof,tail,p-val,CI95%,cohen-d,BF10,power
T-test,6.263477,26,two-sided,0.000001,"[1525.57, 3016.01]",2.367372,9554.025,0.999975

In [158]:
pg.ttest(df['pos'], df['C'])

,T,dof,tail,p-val,CI95%,cohen-d,BF10,power
T-test,6.239092,26,two-sided,0.000001,"[1516.71, 3007.14]",2.358155,9036.325,0.999973

In [159]:
pg.ttest(df['pos'], df['E'])

,T,dof,tail,p-val,CI95%,cohen-d,BF10,power
T-test,6.267857,26,two-sided,0.000001,"[1527.14, 3017.57]",2.369027,9650.067,0.999976

In [160]:
pg.ttest(df['pos'], df['A'])

,T,dof,tail,p-val,CI95%,cohen-d,BF10,power
T-test,6.2852,26,two-sided,0.000001,"[1533.43, 3023.86]",2.375582,1.004e+04,0.999978

In [161]:
pg.ttest(df['pos'], df['N'])

,T,dof,tail,p-val,CI95%,cohen-d,BF10,power
T-test,6.290441,26,two-sided,0.000001,"[1535.35, 3025.79]",2.377563,1.016e+04,0.999978

In [162]:
print(pg.mwu(df['pos'], df['O']))
print(pg.mwu(df['neg'], df['O']))

     U-val       tail     p-val  RBC  CLES
MWU  196.0  two-sided  0.000007 -1.0   1.0
     U-val       tail     p-val  RBC  CLES
MWU  196.0  two-sided  0.000007 -1.0   1.0

In [163]:
print(pg.mwu(df['pos'], df['C']))
print(pg.mwu(df['neg'], df['C']))

     U-val       tail     p-val  RBC  CLES
MWU  196.0  two-sided  0.000007 -1.0   1.0
     U-val       tail     p-val  RBC  CLES
MWU  196.0  two-sided  0.000007 -1.0   1.0

In [164]:
print(pg.mwu(df['pos'], df['E']))
print(pg.mwu(df['neg'], df['E']))

     U-val       tail     p-val  RBC  CLES
MWU  196.0  two-sided  0.000007 -1.0   1.0
     U-val       tail     p-val  RBC  CLES
MWU  196.0  two-sided  0.000007 -1.0   1.0

In [165]:
print(pg.mwu(df['pos'], df['A']))
print(pg.mwu(df['neg'], df['A']))

     U-val       tail     p-val  RBC  CLES
MWU  196.0  two-sided  0.000007 -1.0   1.0
     U-val       tail     p-val  RBC  CLES
MWU  196.0  two-sided  0.000007 -1.0   1.0

In [166]:
print(pg.mwu(df['pos'], df['N']))
print(pg.mwu(df['neg'], df['N']))

     U-val       tail     p-val  RBC  CLES
MWU  196.0  two-sided  0.000007 -1.0   1.0
     U-val       tail     p-val  RBC  CLES
MWU  196.0  two-sided  0.000007 -1.0   1.0

In [167]:
print(pg.mwu(df['por_pos'], df['O']))
print(pg.mwu(df['por_neg'], df['O']))

     U-val       tail     p-val       RBC      CLES
MWU  180.0  two-sided  0.000179 -0.836735  0.918367
     U-val       tail     p-val       RBC      CLES
MWU  128.0  two-sided  0.175036 -0.306122  0.653061

In [168]:
print(pg.mwu(df['por_pos'], df['C']))
print(pg.mwu(df['por_neg'], df['C']))

     U-val       tail     p-val      RBC     CLES
MWU  142.0  two-sided  0.045342 -0.44898  0.72449
     U-val       tail    p-val       RBC      CLES
MWU   55.0  two-sided  0.05053  0.438776  0.280612

In [169]:
print(pg.mwu(df['por_pos'], df['E']))
print(pg.mwu(df['por_neg'], df['E']))

     U-val       tail     p-val       RBC      CLES
MWU  188.0  two-sided  0.000039 -0.918367  0.959184
     U-val       tail    p-val      RBC     CLES
MWU  142.0  two-sided  0.04549 -0.44898  0.72449

In [170]:
print(pg.mwu(df['por_pos'], df['A']))
print(pg.mwu(df['por_neg'], df['A']))

     U-val       tail     p-val       RBC      CLES
MWU  194.0  two-sided  0.000011 -0.979592  0.989796
     U-val       tail     p-val       RBC      CLES
MWU  177.0  two-sided  0.000303 -0.806122  0.903061

In [171]:
print(pg.mwu(df['por_pos'], df['N']))
print(pg.mwu(df['por_neg'], df['N']))

     U-val       tail     p-val       RBC      CLES
MWU  193.0  two-sided  0.000014 -0.969388  0.984694
     U-val       tail     p-val       RBC      CLES
MWU  175.0  two-sided  0.000437 -0.785714  0.892857

In [172]:
print(pg.kruskal(data=df, dv='pos', between='O'))
print(pg.kruskal(data=df, dv='pos', between='O_Coded'))
print(pg.kruskal(data=df, dv='por_pos', between='O'))
print(pg.kruskal(data=df, dv='por_pos', between='O_Coded'))
print(pg.kruskal(data=df, dv='neg', between='O'))
print(pg.kruskal(data=df, dv='neg', between='O_Coded'))
print(pg.kruskal(data=df, dv='por_neg', between='O'))
print(pg.kruskal(data=df, dv='por_neg', between='O_Coded'))

        Source  ddof1          H     p-unc
Kruskal      O     11  12.885714  0.300861
          Source  ddof1         H     p-unc
Kruskal  O_Coded      3  0.836735  0.840662
        Source  ddof1          H    p-unc
Kruskal      O     11  12.542857  0.32425
          Source  ddof1         H     p-unc
Kruskal  O_Coded      3  3.487755  0.322354
        Source  ddof1          H    p-unc
Kruskal      O     11  12.542857  0.32425
          Source  ddof1         H     p-unc
Kruskal  O_Coded      3  2.589796  0.459281
        Source  ddof1     H     p-unc
Kruskal      O     11  12.2  0.348799
          Source  ddof1         H     p-unc
Kruskal  O_Coded      3  4.418367  0.219688

In [173]:
print(pg.kruskal(data=df, dv='pos', between='C'))
print(pg.kruskal(data=df, dv='pos', between='C_Coded'))
print(pg.kruskal(data=df, dv='por_pos', between='C'))
print(pg.kruskal(data=df, dv='por_pos', between='C_Coded'))
print(pg.kruskal(data=df, dv='neg', between='C'))
print(pg.kruskal(data=df, dv='neg', between='C_Coded'))
print(pg.kruskal(data=df, dv='por_neg', between='C'))
print(pg.kruskal(data=df, dv='por_neg', between='C_Coded'))

        Source  ddof1         H     p-unc
Kruskal      C      7  11.52381  0.117347
          Source  ddof1     H     p-unc
Kruskal  C_Coded      1  0.02  0.887537
        Source  ddof1        H     p-unc
Kruskal      C      7  9.92381  0.192932
          Source  ddof1     H     p-unc
Kruskal  C_Coded      1  3.38  0.065992
        Source  ddof1    H     p-unc
Kruskal      C      7  9.0  0.252656
          Source  ddof1    H     p-unc
Kruskal  C_Coded      1  2.0  0.157299
        Source  ddof1         H     p-unc
Kruskal      C      7  7.447619  0.383806
          Source  ddof1     H     p-unc
Kruskal  C_Coded      1  3.92  0.047715

In [174]:
print(pg.kruskal(data=df, dv='pos', between='E'))
print(pg.kruskal(data=df, dv='pos', between='E_Coded'))
print(pg.kruskal(data=df, dv='por_pos', between='E'))
print(pg.kruskal(data=df, dv='por_pos', between='E_Coded'))
print(pg.kruskal(data=df, dv='neg', between='E'))
print(pg.kruskal(data=df, dv='neg', between='E_Coded'))
print(pg.kruskal(data=df, dv='por_neg', between='E'))
print(pg.kruskal(data=df, dv='por_neg', between='E_Coded'))

        Source  ddof1         H     p-unc
Kruskal      E     10  8.514286  0.578734
          Source  ddof1         H     p-unc
Kruskal  E_Coded      2  0.984762  0.611169
        Source  ddof1          H    p-unc
Kruskal      E     10  10.990476  0.35826
          Source  ddof1         H     p-unc
Kruskal  E_Coded      2  1.024762  0.599068
        Source  ddof1         H     p-unc
Kruskal      E     10  8.361905  0.593532
          Source  ddof1        H     p-unc
Kruskal  E_Coded      2  0.59619  0.742231
        Source  ddof1          H     p-unc
Kruskal      E     10  11.704762  0.305302
          Source  ddof1         H     p-unc
Kruskal  E_Coded      2  1.024762  0.599068

In [175]:
print(pg.kruskal(data=df, dv='pos', between='A'))
print(pg.kruskal(data=df, dv='pos', between='A_Coded'))
print(pg.kruskal(data=df, dv='por_pos', between='A'))
print(pg.kruskal(data=df, dv='por_pos', between='A_Coded'))
print(pg.kruskal(data=df, dv='neg', between='A'))
print(pg.kruskal(data=df, dv='neg', between='A_Coded'))
print(pg.kruskal(data=df, dv='por_neg', between='A'))
print(pg.kruskal(data=df, dv='por_neg', between='A_Coded'))

        Source  ddof1     H     p-unc
Kruskal      A      9  10.3  0.326749
          Source  ddof1         H     p-unc
Kruskal  A_Coded      2  2.790476  0.247774
        Source  ddof1         H     p-unc
Kruskal      A      9  7.857143  0.548605
          Source  ddof1         H     p-unc
Kruskal  A_Coded      2  0.768254  0.681045
        Source  ddof1          H     p-unc
Kruskal      A      9  11.785714  0.225661
          Source  ddof1         H     p-unc
Kruskal  A_Coded      2  3.739683  0.154148
        Source  ddof1         H     p-unc
Kruskal      A      9  9.171429  0.421603
          Source  ddof1         H     p-unc
Kruskal  A_Coded      2  0.873016  0.646289

In [176]:
print(pg.kruskal(data=df, dv='pos', between='N'))
print(pg.kruskal(data=df, dv='pos', between='N_Coded'))
print(pg.kruskal(data=df, dv='por_pos', between='N'))
print(pg.kruskal(data=df, dv='por_pos', between='N_Coded'))
print(pg.kruskal(data=df, dv='neg', between='N'))
print(pg.kruskal(data=df, dv='neg', between='N_Coded'))
print(pg.kruskal(data=df, dv='por_neg', between='N'))
print(pg.kruskal(data=df, dv='por_neg', between='N_Coded'))

        Source  ddof1          H     p-unc
Kruskal      N     10  11.571429  0.314762
          Source  ddof1         H     p-unc
Kruskal  N_Coded      3  1.689796  0.639205
        Source  ddof1          H     p-unc
Kruskal      N     10  11.371429  0.329322
          Source  ddof1         H     p-unc
Kruskal  N_Coded      3  0.193878  0.978572
        Source  ddof1          H     p-unc
Kruskal      N     10  12.742857  0.238406
          Source  ddof1         H     p-unc
Kruskal  N_Coded      3  1.779592  0.619386
        Source  ddof1          H     p-unc
Kruskal      N     10  11.371429  0.329322
          Source  ddof1         H     p-unc
Kruskal  N_Coded      3  0.242857  0.970391