## Lib imports

In [135]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import random
import statistics
from math import pi
from matplotlib.gridspec import GridSpec
from dateutil.relativedelta import *
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
import seaborn as sns
import scipy.stats
from statsmodels.graphics.gofplots import qqplot
import cv2
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.model_selection import cross_val_score, cross_val_predict, RepeatedKFold 
from sklearn.linear_model import LinearRegression, LogisticRegression
from collections import Counter
import copy
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
import sklearn.metrics as me
from sklearn import linear_model
from sklearn.metrics import classification_report

## Files reading

In [136]:
!python3 '/Users/leosilva/development/thesis/workspacePyCharm/TwitterDataMining/main_generate_json_files.py' --all_tweets True

Starting script...
Removing existing file...
Ending script...

In [137]:
data = pd.read_json(r'/Users/leosilva/development/thesis/workspacePyCharm/TwitterDataMining/alldata.json')
data.head()

,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44
id_str_twitter,23781146,15148309,927028057763995648,77648005,3429765093,10794662,1034514325644431361,529445600,12050562,62314491,18289937,172880784,18609547,2164986296,1026783544457273345,109604376,1040939562774790144,69734383,119897261
participant_id,1,2,3,None,4,5,6,None,7,8,None,9,10,11,12,13,14,15,16
name,Fe Rebelatto,Sommelier de Airbnb,‚ú™ Felippe,Conference Distinguished Specialist,Paula Santana,Maharaja of the Legacies,Jessica,"var nickname = ""Riquettinha"";",Roberta Arcoverde,Gabriela,Thamara Andrade,felipe.ts ‚ö°,Juan Lopes,Rafael Dantas,iagor com i,TÃ∑oÃ∑mÃ∑oÃ∑yÃ∑oÃ∑ Ã∑ FÃ∑uÃ∑rÃ∑aÃ∑cÃ∑√£Ã∑oÃ∑,Esdras Xavier,belle-üè¥.dev || twitch.tv/bellesamways,Willian Justen
screen_name,rebelatto,Guilh_rm_,FelippeRegazio,NannoKa,psanrosa13,rponte,dev_jessi,Riquettinha,rla4,Gabrielathalita,thamyk,felipefialho_,juanplopes,RaffaelDantass,Iagor51,RafaelMansilha,esdras_xavieer,bellesamways,Willian_justen
location,"Rio de Janeiro, Brasil",somewhere in Brazil,,Ctba-PR Brasil,Brasil,"Cear√°, Brazil",S√£o Paulo - Brasil,"Belo Horizonte, Brasil","Sao Paulo, Brazil",Belo Horizonte,"Belo Horizonte, Brazil.",Dark Side of the Moon,"Rio de Janeiro, Brasil","S√£o Paulo, Brasil",Pvh,"Palmas, Tocantins, Brasil","Jaragu√° do Sul, Brasil",Curitiba,"Petr√≥polis, Brasil"

In [138]:
def create_tweets_df_per_user(data, id_user):

    tweets_pd = pd.DataFrame(data[id_user]['tweets'])
    tweets_pd.columns = ['id', 'id_str_twitter', "text", "created_at", 'favorite_count', 'retweet_count',
                         'lang',
                         "id_user", "vader_sentiment_analysis_score", "vader_sentiment_analysis_polarity",
                         "vader_sentiment_analysis_polarity_5_cat",
                         "oplexicon_sentiment_analysis_score", "oplexicon_sentiment_analysis_polarity",
                         "oplexicon_sentiment_analysis_polarity_5_cat",
                         "sentistrength_sentiment_analysis_score", "sentistrength_sentiment_analysis_polarity",
                         "sentistrength_sentiment_analysis_polarity_5_cat",
                         "sentilexpt_sentiment_analysis_score", "sentilexpt_sentiment_analysis_polarity",
                         "sentilexpt_sentiment_analysis_polarity_5_cat",
                         "liwc_sentiment_analysis_score", "liwc_sentiment_analysis_polarity",
                         "liwc_sentiment_analysis_polarity_5_cat",
                         "final_score", "final_score_ensemble", 
                         "final_polarity", "final_polarity_ensemble", 
                         'text_updated', 'is_retweet', 'retweet_updated']
 
    return tweets_pd

In [139]:
all_tweets = pd.DataFrame()
for c in data:
    id_user = c
    if data[id_user]['bigfive']:
        tweets = create_tweets_df_per_user(data, id_user)
        columns_to_delete = ['id', 'id_str_twitter', "text", 'favorite_count', 'retweet_count', 'lang',
                             #"vader_sentiment_analysis_score", 
                             "vader_sentiment_analysis_polarity",
                             "vader_sentiment_analysis_polarity_5_cat",
                             #"oplexicon_sentiment_analysis_score",
                             "oplexicon_sentiment_analysis_polarity",
                             "oplexicon_sentiment_analysis_polarity_5_cat",
                             #"sentistrength_sentiment_analysis_score",
                             "sentistrength_sentiment_analysis_polarity",
                             "sentistrength_sentiment_analysis_polarity_5_cat",
                             #"sentilexpt_sentiment_analysis_score",
                             "sentilexpt_sentiment_analysis_polarity",
                             "sentilexpt_sentiment_analysis_polarity_5_cat",
                             #"liwc_sentiment_analysis_score",
                             "liwc_sentiment_analysis_polarity",
                             "liwc_sentiment_analysis_polarity_5_cat",
                             'text_updated', 'is_retweet', 'retweet_updated']

        for c in columns_to_delete:
            del tweets[c]

        tweets['Participant'] = data[id_user]['participant_id']
        if all_tweets.empty:
            all_tweets = tweets
        else:
            all_tweets = all_tweets.append(tweets)

In [140]:
all_tweets.head()

,created_at,id_user,vader_sentiment_analysis_score,oplexicon_sentiment_analysis_score,sentistrength_sentiment_analysis_score,sentilexpt_sentiment_analysis_score,liwc_sentiment_analysis_score,final_score,final_score_ensemble,final_polarity,final_polarity_ensemble,Participant
0,2021-03-31T19:13:28,26,-0.4588,0.000000,0.00,0.00,0.0000,-0.091760,0.000,neg,neu,1
1,2021-03-31T12:28:56,26,0.0000,0.000000,0.00,0.00,-0.0667,-0.013340,0.000,neg,neu,1
2,2021-03-31T12:17:06,26,0.7734,0.458831,0.00,0.00,0.0196,0.250366,0.000,pos,neu,1
3,2021-03-31T11:46:04,26,-0.8720,0.458831,0.25,-0.25,0.0400,-0.074634,0.000,neg,neu,1
4,2021-03-30T17:58:24,26,-0.6808,0.000000,0.00,-0.25,0.0000,-0.186160,-0.125,neg,neg,1

In [141]:
count = 1
json_data = {
    'Participant': [],
    'Id User': [],
    'O': [],
    'C': [],
    'E': [],
    'A': [],
    'N': []
}

for d in data:
    if data[d]['bigfive']:
        b = pd.DataFrame(data[d]['bigfive'])
        b.columns = ['id', 'O', 'C', 'E', 'A', 'N', 'Id User']
        b['Participant'] = count
        del b['id']
        b = b[['Participant', 'Id User', 'O', 'C', 'E', 'A', 'N']]
        json_data['Participant'].append(b['Participant'][0])
        json_data['Id User'].append(b['Id User'][0])
        json_data['O'].append(b['O'][0])
        json_data['C'].append(b['C'][0])
        json_data['E'].append(b['E'][0])
        json_data['A'].append(b['A'][0])
        json_data['N'].append(b['N'][0])
        count += 1
        
bf = pd.DataFrame(json_data)

In [142]:
bf.head()

   Participant  Id User   O   C   E   A   N
0            1       26  37  43  36  24  26
1            2       27  41  43  34  22  23
2            3       28  43  46  31  24  15
3            4       30  17  33  33  22  39
4            5       31  22  33  31  20   8

In [143]:
df_dict = {'id_user' : [],
            'pos' : [],
            'neu' : [],
            'neg' : [],
            'por_pos' : [],
            'por_neu' : [],
            'por_neg' : [],
            'mean' : [],
            'O': [],
            'C': [],
            'E': [],
            'A': [],
            'N': []
          }

df_grouped = all_tweets.groupby(['Participant'])
for i in range(1,len(df_grouped)+1):
    t = all_tweets.query('Participant == {}'.format(i))
    bigfive = bf.query('Participant == {}'.format(i))
    vader_df = t[['final_score_ensemble', 'final_polarity_ensemble']].copy()
    qtd_pos = vader_df.query('final_polarity_ensemble == "pos"').count()
    qtd_neu = vader_df.query('final_polarity_ensemble == "neu"').count()
    qtd_neg = vader_df.query('final_polarity_ensemble == "neg"').count()
    qtd_total = vader_df['final_polarity_ensemble'].count()
    df_dict['id_user'].append(bigfive['Id User'].iloc[0])
#     print(type(bigfive['Id User'].iloc[0]))
    df_dict['pos'].append(qtd_pos.iloc[0])
    df_dict['neu'].append(qtd_neu.iloc[0])
    df_dict['neg'].append(qtd_neg.iloc[0])
    df_dict['por_pos'].append(((qtd_pos / qtd_total) * 100).iloc[0])
    df_dict['por_neu'].append(((qtd_neu / qtd_total) * 100).iloc[0])
    df_dict['por_neg'].append(((qtd_neg / qtd_total) * 100).iloc[0])
    df_dict['mean'].append(vader_df['final_score_ensemble'].mean())

    df_dict['O'].append(bigfive['O'].iloc[0])
    df_dict['C'].append(bigfive['C'].iloc[0])
    df_dict['E'].append(bigfive['E'].iloc[0])
    df_dict['A'].append(bigfive['A'].iloc[0])
    df_dict['N'].append(bigfive['N'].iloc[0])

df = pd.DataFrame(df_dict)

biglist = ['O', 'C', 'E', 'A', 'N']
for b in biglist:
    res = []
    for r in df[b]:
        if r <= 10:
            res.append(1)
        elif r > 10 and r < 21:
            res.append(2)
        elif r > 20 and r < 31:
            res.append(3)
        elif r > 30 and r < 41:
            res.append(4)
        elif r > 40:
            res.append(5)

    df['{}_Coded'.format(b)] = res
df

,id_user,pos,neu,neg,por_pos,por_neu,por_neg,mean,O,C,E,A,N,O_Coded,C_Coded,E_Coded,A_Coded,N_Coded
0,26,1408,1866,1764,27.947598,37.038507,35.013894,-0.022431,37,43,36,24,26,4,5,4,3,3
1,27,1367,1926,1255,30.057168,42.348285,27.594547,-0.000698,41,43,34,22,23,5,5,4,3,3
2,28,1968,2031,1933,33.175995,34.238031,32.585974,-0.007192,43,46,31,24,15,5,5,4,3,2
3,30,1719,832,620,54.210028,26.237780,19.552192,0.113446,17,33,33,22,39,2,4,4,3,4
4,31,2993,1443,1557,49.941599,24.078091,25.980310,0.055160,22,33,31,20,8,3,4,4,2,1
5,32,4386,2693,2306,46.734150,28.694726,24.571124,0.057806,39,49,39,28,15,4,5,4,3,2
6,34,693,459,393,44.854369,29.708738,25.436893,0.051225,35,35,32,26,16,4,4,4,3,2
7,35,895,975,725,34.489403,37.572254,27.938343,0.028354,29,45,34,35,29,3,5,4,4,3
8,37,3235,1892,1329,50.108426,29.306072,20.585502,0.066105,40,46,38,22,21,4,5,4,3,3
9,38,1646,1336,1726,34.961767,28.377230,36.661003,-0.017339,32,46,19,18,28,4,5,2,2,3
10,39,1689,1349,906,42.824544,34.203854,22.971602,0.043994,31,36,25,33,21,4,4,3,4,3
11,40,509,1155,564,22.845601,51.840215,25.314183,-0.006252,36,45,31,31,19,4,5,4,4,2
12,41,1212,1836,1338,27.633379,41.860465,30.506156,-0.012095,29,41,28,22,28,3,5,3,3,3
13,42,620,1194,884,22.979985,44.255004,32.765011,-0.030199,29,43,27,23,35,3,5,3,3,4
14,43,7123,8977,7977,29.584251,37.284545,33.131204,-0.012858,29,45,36,27,32,3,5,4,3,4
15,44,2381,1398,1149,48.315747,28.368506,23.315747,0.055043,30,35,24,20,32,3,4,3,2,4

In [160]:
columns_features = ['O', 'C', 'E', 'A', 'N']
df_features = pd.DataFrame(df[columns_features])
df_features

     O   C   E   A   N
0   37  43  36  24  26
1   41  43  34  22  23
2   43  46  31  24  15
3   17  33  33  22  39
4   22  33  31  20   8
5   39  49  39  28  15
6   35  35  32  26  16
7   29  45  34  35  29
8   40  46  38  22  21
9   32  46  19  18  28
10  31  36  25  33  21
11  36  45  31  31  19
12  29  41  28  22  28
13  29  43  27  23  35
14  29  45  36  27  32
15  30  35  24  20  32

In [159]:
target = pd.DataFrame(df[['por_pos', 'por_neg']])
target

      por_pos    por_neg
0   27.947598  35.013894
1   30.057168  27.594547
2   33.175995  32.585974
3   54.210028  19.552192
4   49.941599  25.980310
5   46.734150  24.571124
6   44.854369  25.436893
7   34.489403  27.938343
8   50.108426  20.585502
9   34.961767  36.661003
10  42.824544  22.971602
11  22.845601  25.314183
12  27.633379  30.506156
13  22.979985  32.765011
14  29.584251  33.131204
15  48.315747  23.315747

In [158]:
combs = [] # lista que guarda a combinacao

def combinations(target,data):
    for i in range(len(data)):
        new_target = copy.copy(target)
        new_data = copy.copy(data)
        new_target.append(data[i])
        new_data = data[i+1:]
        combs.append(new_target)
        combinations(new_target, new_data)

tgt = []
features_list = ['O', 'C', 'E', 'A', 'N']

combinations(tgt, features_list)

In [168]:
# LINEAR REGRESSION -- WITHOUT -- CONSTANT VALUE

def perform_linear_regression(features, targets):
    for f in features:
        X = df_features[f]
        for t in targets:        
            y = target[t]
            X = sm.add_constant(X)

            # Note the difference in argument order
            model = sm.OLS(y, X).fit()
            predictions = model.predict(X) # make the predictions by the model
#             print(model.f_pvalue)
            # Print out the statistics
            if float(model.f_pvalue) <= 0.05:
                with open('linear_regression_main_results.txt', 'a') as f:
                    f.write(str(model.summary()))

In [163]:
targets = ['por_pos', 'por_neg']

perform_linear_regression(combs, targets)

0.25659977668341244
0.46671924437417656
0.1262979063683586
0.1858363692468595
0.14871469882478652
0.10892687448809185
0.2325438390691583
0.1644424083428581
0.30708690894380425
0.2871015769711678
0.22613017701481294
0.21496906708226704
0.2504200076412616
0.20641582991741014
0.29870522263490057
0.3530066487124443
0.18393429777163975
0.33921763103630925
0.4015363212501594
0.3764282699173214
0.48024007803231783
0.553395247458764
0.37325836500680737
0.6330043551467827
0.32166572150000083
0.47843990699306327
0.44725321440604054
0.5849277768921805
0.3024326936329987
0.6303444540807926
0.2008495087378947
0.5222098764130956
0.03904032604547277
0.07438560686564938
0.06210681813582832
0.0465060554553963
0.11991763110511326
0.0864814855816974
0.190904479874045
0.17464919997379644
0.12159533910420015
0.11349793736982759
0.12012301843008226
0.11141131571515679
0.1748357126244467
0.21536528181487083
0.08516783355123805
0.179658074756196
0.681644087985991
0.3443602150660251
0.6346822558014148
0.5971702791835564
0.7278501922018945
0.7898240039586981
0.7690866001758464
0.6279136491814938
0.47271520006464063
0.5095456358340493
0.5767684122646582
0.7522326226698439
0.4915436146712686
0.6434191020796365

/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))

In [149]:
# LINEAR REGRESSION -- WITH -- CONSTANT VALUE

X = df_features["O"]
y = target["por_pos"]
X = sm.add_constant(X)

# Note the difference in argument order
model = sm.OLS(y, X).fit()
predictions = model.predict(X) # make the predictions by the model

# Print out the statistics
model.summary()

/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                por_pos   R-squared:                       0.091
Model:                            OLS   Adj. R-squared:                  0.026
Method:                 Least Squares   F-statistic:                     1.399
Date:                Wed, 28 Jul 2021   Prob (F-statistic):              0.257
Time:                        00:28:44   Log-Likelihood:                -59.000
No. Observations:                  16   AIC:                             122.0
Df Residuals:                      14   BIC:                             123.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         52.2347     12.688      4.117      0.001      25.021      79.449
O             -0.4530      0.383     -1.183      0.257      -1.274       0.368
==============================================================================
Omnibus:                        2.696   Durbin-Watson:                   1.276
Prob(Omnibus):                  0.260   Jarque-Bera (JB):                1.097
Skew:                          -0.037   Prob(JB):                        0.578
Kurtosis:                       1.719   Cond. No.                         163.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [150]:
# LINEAR REGRESSION -- WITH -- CONSTANT VALUE

X = df_features["C"]
y = target["por_pos"]
X = sm.add_constant(X)

# Note the difference in argument order
model = sm.OLS(y, X).fit()
predictions = model.predict(X) # make the predictions by the model

# Print out the statistics
model.summary()

/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                por_pos   R-squared:                       0.270
Model:                            OLS   Adj. R-squared:                  0.218
Method:                 Least Squares   F-statistic:                     5.183
Date:                Wed, 28 Jul 2021   Prob (F-statistic):             0.0390
Time:                        00:28:44   Log-Likelihood:                -57.242
No. Observations:                  16   AIC:                             118.5
Df Residuals:                      14   BIC:                             120.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         80.2211     18.889      4.247      0.001      39.708     120.734
C             -1.0284      0.452     -2.277      0.039      -1.997      -0.060
==============================================================================
Omnibus:                        1.004   Durbin-Watson:                   1.118
Prob(Omnibus):                  0.605   Jarque-Bera (JB):                0.723
Skew:                           0.483   Prob(JB):                        0.697
Kurtosis:                       2.612   Cond. No.                         341.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [151]:
# LINEAR REGRESSION -- WITHOUT -- CONSTANT VALUE

# MORE THAN ONE VARIABLE
X = df_features[["O", "C"]]
y = target["por_pos"]

# Note the difference in argument order
model = sm.OLS(y, X).fit()
predictions = model.predict(X) # make the predictions by the model

# Print out the statistics
model.summary()

/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                por_pos   R-squared (uncentered):                   0.887
Model:                            OLS   Adj. R-squared (uncentered):              0.870
Method:                 Least Squares   F-statistic:                              54.70
Date:                Wed, 28 Jul 2021   Prob (F-statistic):                    2.42e-07
Time:                        00:28:44   Log-Likelihood:                         -63.862
No. Observations:                  16   AIC:                                      131.7
Df Residuals:                      14   BIC:                                      133.3
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
O             -0.0483      0.682     -0.071      0.945      -1.512       1.415
C              0.9134      0.541      1.689      0.113      -0.246       2.073
==============================================================================
Omnibus:                        3.198   Durbin-Watson:                   1.556
Prob(Omnibus):                  0.202   Jarque-Bera (JB):                1.510
Skew:                           0.412   Prob(JB):                        0.470
Kurtosis:                       1.741   Cond. No.                         13.2
==============================================================================

Notes:
[1] R¬≤ is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [152]:
# LINEAR REGRESSION -- WITH -- CONSTANT VALUE

# MORE THAN ONE VARIABLE
X = df_features[["O", "C"]]
y = target["por_pos"]
X = sm.add_constant(X)

# Note the difference in argument order
model = sm.OLS(y, X).fit()
predictions = model.predict(X) # make the predictions by the model

# Print out the statistics
model.summary()

/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                por_pos   R-squared:                       0.273
Model:                            OLS   Adj. R-squared:                  0.161
Method:                 Least Squares   F-statistic:                     2.436
Date:                Wed, 28 Jul 2021   Prob (F-statistic):              0.126
Time:                        00:28:45   Log-Likelihood:                -57.215
No. Observations:                  16   AIC:                             120.4
Df Residuals:                      13   BIC:                             122.7
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         80.5330     19.626      4.103      0.001      38.133     122.933
O              0.0980      0.469      0.209      0.838      -0.915       1.111
C             -1.1125      0.617     -1.803      0.095      -2.446       0.221
==============================================================================
Omnibus:                        0.995   Durbin-Watson:                   1.104
Prob(Omnibus):                  0.608   Jarque-Bera (JB):                0.785
Skew:                           0.488   Prob(JB):                        0.675
Kurtosis:                       2.528   Cond. No.                         436.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [153]:
df

,id_user,pos,neu,neg,por_pos,por_neu,por_neg,mean,O,C,E,A,N,O_Coded,C_Coded,E_Coded,A_Coded,N_Coded
0,26,1408,1866,1764,27.947598,37.038507,35.013894,-0.022431,37,43,36,24,26,4,5,4,3,3
1,27,1367,1926,1255,30.057168,42.348285,27.594547,-0.000698,41,43,34,22,23,5,5,4,3,3
2,28,1968,2031,1933,33.175995,34.238031,32.585974,-0.007192,43,46,31,24,15,5,5,4,3,2
3,30,1719,832,620,54.210028,26.237780,19.552192,0.113446,17,33,33,22,39,2,4,4,3,4
4,31,2993,1443,1557,49.941599,24.078091,25.980310,0.055160,22,33,31,20,8,3,4,4,2,1
5,32,4386,2693,2306,46.734150,28.694726,24.571124,0.057806,39,49,39,28,15,4,5,4,3,2
6,34,693,459,393,44.854369,29.708738,25.436893,0.051225,35,35,32,26,16,4,4,4,3,2
7,35,895,975,725,34.489403,37.572254,27.938343,0.028354,29,45,34,35,29,3,5,4,4,3
8,37,3235,1892,1329,50.108426,29.306072,20.585502,0.066105,40,46,38,22,21,4,5,4,3,3
9,38,1646,1336,1726,34.961767,28.377230,36.661003,-0.017339,32,46,19,18,28,4,5,2,2,3
10,39,1689,1349,906,42.824544,34.203854,22.971602,0.043994,31,36,25,33,21,4,4,3,4,3
11,40,509,1155,564,22.845601,51.840215,25.314183,-0.006252,36,45,31,31,19,4,5,4,4,2
12,41,1212,1836,1338,27.633379,41.860465,30.506156,-0.012095,29,41,28,22,28,3,5,3,3,3
13,42,620,1194,884,22.979985,44.255004,32.765011,-0.030199,29,43,27,23,35,3,5,3,3,4
14,43,7123,8977,7977,29.584251,37.284545,33.131204,-0.012858,29,45,36,27,32,3,5,4,3,4
15,44,2381,1398,1149,48.315747,28.368506,23.315747,0.055043,30,35,24,20,32,3,4,3,2,4

In [165]:
columns_features = ['O_Coded', 'C_Coded', 'E_Coded', 'A_Coded', 'N_Coded']
df_features = pd.DataFrame(df[columns_features])
df_features

    O_Coded  C_Coded  E_Coded  A_Coded  N_Coded
0         4        5        4        3        3
1         5        5        4        3        3
2         5        5        4        3        2
3         2        4        4        3        4
4         3        4        4        2        1
5         4        5        4        3        2
6         4        4        4        3        2
7         3        5        4        4        3
8         4        5        4        3        3
9         4        5        2        2        3
10        4        4        3        4        3
11        4        5        4        4        2
12        3        5        3        3        3
13        3        5        3        3        4
14        3        5        4        3        4
15        3        4        3        2        4

In [166]:
combs = []
tgt = []
features_list = ['O_Coded', 'C_Coded', 'E_Coded', 'A_Coded', 'N_Coded']

combinations(tgt, features_list)

In [167]:
targets = ['por_pos', 'por_neg']

perform_linear_regression(combs, targets)

/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))
/Users/leosilva/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))

In [ ]:
NORMALIZAR OS DADOS COM STANDARD SCALER PARA VER SE MELHORA O MODELO DE REGRESSAO E CORRELACAO